<div *ngIf="client" class="container">

    <h2>{{client.id}} - {{client.name | uppercase}} Details</h2>

    <div *ngIf="client">
      <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{client.id}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input [(ngModel)]="client.name" placeholder="name"/></td>
          </tr>
          <tr>
            <td>Surames</td>
            <td><input [(ngModel)]="client.surnames" placeholder="surname"/></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><input [(ngModel)]="client.phoneNumber" placeholder="phone number"/></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input [(ngModel)]="client.email" placeholder="email"/></td>
          </tr>
          <tr>
            <td>Registered</td>
            <td><input [(ngModel)]="client.registered" placeholder="registered"/></td>
          </tr>
          <tr>
            <td>Updated</td>
            <td><input [(ngModel)]="client.lastUpdated" placeholder="lastUpdated"/></td>
          </tr>
          <tr>
            <td>Gender</td>
            <td><input [(ngModel)]="client.gender" placeholder="gender"/></td>
          </tr>
          <tr>
            <td>Year</td>
            <td><input [(ngModel)]="client.year" placeholder="year"/></td>
          </tr>
          <tr>
            <td>Notify</td>
            <td><input [(ngModel)]="client.sendNotifications" placeholder="send notifications"/></td>
          </tr>
        </tbody>
      </table>
      <div>
        <span><button class="save" (click)="updateClient()">Save</button></span>
      </div>
    </div>
</div>


<div class="container">
    <div *ngIf="!address">
      <span><button class="save" (click)="addAddress()">Add Address</button></span>
    </div>
    <div *ngIf="address">
      <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Street</td>
            <td><input [(ngModel)]="address.street" placeholder="street"/></td>
          </tr>
          <tr>
            <td>Number</td>
            <td><input [(ngModel)]="address.number" placeholder="number"/></td>
          </tr>
          <tr>
            <td>Floor, door...</td>
            <td><input [(ngModel)]="address.floor_door" placeholder="Floor, door, stairs..."/></td>
          </tr>
          <tr>
            <td>City</td>
            <td><input [(ngModel)]="address.city" placeholder="city"/></td>
          </tr>
          <tr>
            <td>Postal Code</td>
            <td><input [(ngModel)]="address.postalCode" placeholder="postal code"/></td>
          </tr>
          <tr>
            <td>Country</td>
            <td><input [(ngModel)]="address.country" placeholder="country"/></td>
          </tr>
        </tbody>
      </table>
      <div>
        <span><button class="save" (click)="updateAddress()">Save</button></span>
      </div>
    </div>
  </div>
  